<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.middleman">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/map_key"/>
        <activity
            android:name=".BuyHome"
            android:exported="true" />
        <activity
            android:name=".SellHome"
            android:exported="true" />
        <activity
            android:name=".ForgetPassword"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".signup"
            android:exported="true" />
        <activity
            android:name=".Detail"
            android:exported="true" />
        <activity
            android:name=".HomeScreen"
            android:exported="true" />
        <activity
            android:name=".Get_started"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>